<!DOCTYPE html>
<html>
  <head>
    <title>OneMinuteChanges</title>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="container">
        <h2>One Minute Changes</h2>
        <%= render 'layouts/auth_controls' %>
      </div>
    </header>

    <div id="content" class="container">

      <%= yield %>

    </div>

    <footer class="footer">
      <div class="container text-muted">
        &copy;2016 Creighton Higgins
      </div>
    </footer>
  </body>
</html>
