<!DOCTYPE html>
<html>
<head>
  <title>OneMinuteChanges</title>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
